
@{
    ViewBag.Title = "ErrorDbInternal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Something happend internally with the database.</h2>
<p>Error message: @Model.Exception.Message</p>
<p>Try again later!</p>
<br />
<br />
<br />