
@{
    ViewBag.Title = "Index";
}


<!--Under Navbar-->
<div class="container">
    <div class="jumbotron text-center">
        <h1>Find Love Maybe</h1>
        <p>Find Love Maybe is the worlds best premium site to find your next lover </p>
        <a href="#" class="btn btn-primary">Login in </a>
        <a href="#" class="btn btn-success">Register Now </a>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <h3>Members already looking for lovers</h3>
    </div>
</div>
<!--Några profiler-->
<div class="row">
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <a href="#">
                <img src="/Images/sibbe.jpg" class="img-rounded" alt="hej">

            </a>
            <div class="caption">
                <h3>Kralle, 23</h3>
                <p>Love motorcycles and big biceps</p>
                <p>
                    <a href="/home/register" class="btn btn-info">See profile</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <a href="#">
                <img src="/Images/chips.jpg" class="img-rounded" alt="hej" width="190" height="190">

            </a>
            <div class="caption">
                <h3>Djchipz, 23</h3>
                <p>Loves estrella and OLW</p>
                <p>
                    <a href="/home/register" class="btn btn-info">See profile</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <a href="#">
                <img src="/Images/Linus.jpg" class="img-rounded" alt="hej">

            </a>
            <div class="caption">
                <h3>Linus, 28</h3>
                <p>Loves julmust</p>
                <p>
                    <a href="/home/register" class="btn btn-info">See profile</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <a href="#">
                <img src="/Images/kim.jpg" class="img-rounded" alt="hej">

            </a>
            <div class="caption">
                <h3>Kim, 25</h3>
                <p>Loves bollnäsfil</p>
                <p>
                    <a href="/home/register" class="btn btn-info">See profile</a>
                </p>
            </div>
        </div>
    </div>
</div>

