
@{
    ViewBag.Title = "HttpErorr";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HttpErorr</h2>
<h2>Something happend with your request on the website.</h2>
<h1>:'()</h1>
<p>Try again later!</p>
<br />
<br />
<br />