@{
    ViewBag.Title = "HttpNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Page not found!</h2>
<p>Changes are the page does not exsist or you do not have the right authority to view it.</p>
<br/>
<br/>
