@model FindLoveNowMaybe.Models.FriendRequestModel
@{
    ViewBag.Title = "FriendRequest";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Friend Request</h2>

<br />
<div class="container" id="friendRequest">
    @foreach (var friendReq in Model.FriendReqs)
    {

        <li id="FriendsDiv">
            @friendReq.SenderUser.FirstName,
            @Html.ActionLink("Accept", "AcceptRequest", "User", new { receiver = friendReq.ReceiverId, sender = friendReq.SenderId }, new { @class = "btn btn-info" })
            @Html.ActionLink("Decline", "DeclineRequest", "User", new { receiver = friendReq.ReceiverId, sender = friendReq.SenderId }, new { @class = "btn btn-danger" })
        </li>
    }

</div>