@model FindLoveNowMaybe.Models.FriendsModel
@{
    ViewBag.Title = "Friends";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Friend list</h2>
<br />
<div class="container">
    @foreach (var friend in Model)
    {
        {
            <li id="FriendsDiv">
                <img src="~/Content/Images/@friend.Picture" class="img-circle" width="60px" height="60px" alt="hej">
                <label class="name">
                    @Html.ActionLink(@friend.UserName, "VisitUser", "User", new { visitUser = friend.UserName }, new { @class = "form-control", @style = "font-family: 'Oswald'" })
                </label>
            </li>

            <br />
            <br />
        }
    }

</div>